<h1>Listing events</h1>

<canvas id="myPieChart" width="400" height="400"></canvas>
<script src="../../assets/Chart.min.js">
var ctx = document.getElementByID("myPieChart").getContext("2d");
var myPieChart = new Chart(ctx[0]).Pie(data,options); 
  var data = [
    {
      value: 300,
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Red"
    },
    {
      value: 50,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Green"
    },
    {
      value: 100,
      color: "#FDB45C",
      highlight: "#FFC870",
      label: "Yellow"
    }
  ] 

</script>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Property 1</th>
      <th>Property 2</th>
      <th>Created At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.property_1 %></td>
        <td><%= event.property_2 %></td>
        <td><%= event.created_at %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
