<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Property 1:</strong>
  <%= @event.property_1 %>
</p>

<p>
  <strong>Property 2:</strong>
  <%= @event.property_2 %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
